/node_modules
config/.env
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/__tests__/config/index.html
coverage/lcov-report/__tests__/config/testDbHandler.js.html
coverage/lcov-report/controllers/connoisseur.controllers.js.html
coverage/lcov-report/controllers/index.html
coverage/lcov-report/controllers/racletteParty.controllers.js.html
coverage/lcov-report/coverage/lcov-report/block-navigation.js.html
coverage/lcov-report/coverage/lcov-report/index.html
coverage/lcov-report/coverage/lcov-report/prettify.js.html
coverage/lcov-report/coverage/lcov-report/sorter.js.html
coverage/lcov-report/models/connoisseur.js.html
coverage/lcov-report/models/index.html
coverage/lcov-report/raclette-mern/app.js.html
coverage/lcov-report/raclette-mern/index.html
coverage/lcov-report/raclette-mern/__tests__/config/index.html
coverage/lcov-report/raclette-mern/__tests__/config/testDbHandler.js.html
coverage/lcov-report/raclette-mern/config/db.js.html
coverage/lcov-report/raclette-mern/config/index.html
coverage/lcov-report/raclette-mern/controllers/connoisseur.controllers.js.html
coverage/lcov-report/raclette-mern/controllers/index.html
coverage/lcov-report/raclette-mern/controllers/racletteParty.controllers.js.html
coverage/lcov-report/raclette-mern/coverage/lcov-report/block-navigation.js.html
coverage/lcov-report/raclette-mern/coverage/lcov-report/index.html
coverage/lcov-report/raclette-mern/coverage/lcov-report/prettify.js.html
coverage/lcov-report/raclette-mern/coverage/lcov-report/sorter.js.html
coverage/lcov-report/raclette-mern/models/connoisseur.js.html
coverage/lcov-report/raclette-mern/models/index.html
coverage/lcov-report/raclette-mern/models/racletteParty.js.html
coverage/lcov-report/raclette-mern/routes/connoisseur.routes.js.html
coverage/lcov-report/raclette-mern/routes/index.html
coverage/lcov-report/raclette-mern/routes/racletteParty.routes.js.html
coverage/lcov-report/raclette-mern/services/connoisseur.js.html
coverage/lcov-report/raclette-mern/services/connoisseur.service.js.html
coverage/lcov-report/raclette-mern/services/index.html
coverage/lcov-report/raclette-mern/services/racletteParty.js.html
coverage/lcov-report/raclette-mern/services/racletteParty.service.js.html
coverage/lcov-report/services/connoisseur.js.html
coverage/lcov-report/services/connoisseur.service.js.html
coverage/lcov-report/services/index.html
coverage/lcov-report/services/racletteParty.js.html
coverage/lcov-report/services/racletteParty.service.js.html
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
